#news {

    .carousel_controls {
        .col_left {
            position: relative;
            width: 30%;
            margin-left: 5%;
        }
        .col_right {
            position: relative;
            width: 30%;
            margin-right: 5%;
        }
        .col_mid {
            position: relative;
            width: 30%;
        }
    }

    h3 {
        color: white;
    }

    .new {
        background-color: white;
        margin: 5px;
        padding: 15px;
    }

    .carousel-indicators {
        position: relative;
        margin-top: 50px;
    }
}